<!DOCTYPE html>

<html lang="en">
	<head>
		<title>Data Scraper</title>
		<script type="text/javascript">
			const theButton = document.querySelector('.button');

			theButton.addEventListener('click', () => {
				theButton.classList.add('button--loading');
			});
		</script>
		<link rel="stylesheet" href="style.css">
	</head>

	<body>
		<container>
		<h1>Roadmap Card Scraper Tools</h1>

		</container>
		<hr>
		<container>
			
		<h2>Get Current Data</h2>
		<form method="post">
			<h4>Choose environment:</h4>
			<select name="enviro" method="GET" action="/">
				{% for env in enviro %}
				<option value="{{env}}" selected>{{env}}</option>
				" {% endfor %}
			</select>
			<h4>Choose roadmap type:</h4>
			<select name="roadmap_type" method="GET" action="/">
				{% for type in roadmap_type %}
				<option value="{{type}}" selected>{{type}}</option>
				" {% endfor %}
			</select>
			<br />
			<br />
			<button id="my_submit" type="submit" value="Submit">Submit</button>
		</form>
		
		</container>

		<hr>
		<container>

		<h2>QA Checker</h2>
		<form method="post">
            <h4>File path</h4>
            <input name="path" method="GET" action="/"/>
			<h4>Choose environment:</h4>
			<select name="enviro" method="GET" action="/">
				{% for env in enviro %}
				<option value="{{env}}" selected>{{env}}</option>
				" {% endfor %}
			</select>
			<h4>Choose roadmap type:</h4>
			<select name="roadmap_type" method="GET" action="/">
				{% for type in roadmap_type %}
				<option value="{{type}}" selected>{{type}}</option>
				" {% endfor %}
			</select>
			<br />
			<br />
			<button id="my_submit" type="submit" value="Submit">Submit</button>
		</form>

		
		</container>
	</body>
</html>
